<!DOCTYPE html>
<html id="styling" lang="en" class="light"> 
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./assets/css/index.css">
    <title>The Social Network</title>
</head>
<header id="header">
    <h1>Title</h1>
    <h3 id="count"></h3>
</header>

<!-- Need to Create a wall once user logs in -->

<nav id="nav">
    <button id="toggle"> <img id="btnimg" src=""></button>
</nav>
<div id="container" class="container">
<!-- Add Logo -->
    <img  id="logo" class="logo" src=""> 
        <form id="form" class="form">
            <h1>New Post</h1>
            <h4>Whats on your mind?</h4>
            <input id="post" placeholder="Type Your thoughts">
            <button id="submit">POST</button>
        </form>
</div>
</html>